#rundir is the directory MinKNOW is saving the pod5s/fastqs in 
rundir = /var/lib/minknow/data/092023_Pro_NBs_in_situ_iS_4/092023_Pro_NBs_in_situ_iS_4/20230920_1812_P2S-00522-A_PAM29382_6aef5d61/
####################################
#the directory you are running the analysis in (not the output) 
processdir = /Users/francescoemiliani/analysis/Lin/240130_new_pipeline/
####################################
#This have to be changed to reflect your sample
patientsample = patient_sample
outputdirname = output_iSCORED
threads = 88
### path to a pre-basecalled (UNALIGNED) bam file, this assumes it was basecalled with methylation, otherwise it wont work!
### options are none or path to the file 
prebasecalled = none 
### here are the possible basecalling models:
### models = dna_r9.4.1_e8_sup@v3.3
### models = dna_r10.4.1_e8.2_400bps_sup@v4.3.0
basecallmodel = dna_r10.4.1_e8.2_400bps_sup@v4.3.0
### runtime is in hours e.g 6, determines how often it will basecall data 
runtime = 0.3
## eg 5 if you want it to break it up into 5 parts 
subsets = 4
### cleanup will remove a lot of the intermediate files
### to save space, set to TRUE if you know the pipeline works and you dont need them
cleanup = TRUE
### which minutes of basecalling do you want to analyze, options are "all" or two time points in minutes eg:  "8,28"
### NB timepoints only works if subsets is set to 1, as this is assuming you are basecalling post-sequencing data not real-time analysis 
timepoints = all
### which methylation pipline you want to run, options are RapidCNS, Sturgeon38, SturgeonT2T as a comma-delimited string, eg. RapidCNS,Sturgeon38
methylation = SturgeonT2T
####################################
#these are paths to files/tools or code on your machine:
#
hg19ref = /home/linlab_ws/analysis/genomes/hg19/hg19.fa
hg38ref = /home/linlab_ws/analysis/genomes/hg38/hg38.fa
T2Tref = /home/linlab_ws/analysis/genomes/T2T/hs1.fa
#
dorado = /home/linlab_ws/analysis/dependencies/dorado-0.5.2-linux-x64/bin/dorado
modeldir = /home/linlab_ws/analysis/dependencies/dorado-0.5.2-linux-x64/models/
duplex_tools = /home/linlab_ws/analysis/dependencies/duplex_tools/venv/bin/activate
picard = /home/linlab_ws/analysis/dependencies/picard/build/libs/picard.jar
mbtools = /home/linlab_ws/analysis/dependencies/mbtools/target/release/mbtools
bwa = /home/linlab_ws/analysis/dependencies/bwa/bwa
samtools = /home/linlab_ws/analysis/dependencies/samtools/bin/samtools
#bamtools = /home/linlab_ws/analysis/dependencies/bamtools/bin/bamtools
#
#path to conda environment tools 
nanofilt = /home/linlab_ws/miniforge3/envs/nanofilt/bin/NanoFilt
porechop = /home/linlab_ws/analysis/dependencies/Porechop/porechop
#
#path to this repo for additional scripts 
modifiedScripts = /home/linlab_ws/analysis/Francesco/dorado_iSCORED/scripts/